@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Carousel</h1>
    <div>This data will come dynamically, need to understand how the carousel is rendered in <a target="_blank" href="http://construction.com">construction.com</a> website</div>
</div>

<div class="row">
    <div class="col-md-4">
        More Info ..
    </div>
    <div class="col-md-4">
        More Info ..
    </div>
    <div class="col-md-4">
        More Info ..
    </div>
</div>
<div>

</div>