@{
    ViewBag.Title = "Products";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <a href="http://localhost.dodgedev.com/DGN/Home.aspx" target="_blank">DGN</a>

    <a href="http://localhost.dodgedev.com/BI/Home.aspx" target="_blank">BI</a>
</div>